<html>
    <head>
        <title>First Class Html</title>
        <link rel='stylesheet' href='task.css' />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="vue.js"></script>                                         
        <script>
            tailwind.config = {
              theme: {
                extend: {
                  colors: {
                    clifford: '#da373d',
                  }
                }
              }, 

                'blue': {
             DEFAULT: '#353887',
             50: '#A09CD8',
             100: '#918DD2',
             200: '#7370C7',
             300: '#5352BB',
             400: '#4142A4',
             500: '#353887',
             600: '#2F3478',
             700: '#292F6A',
             800: '#242A5B',
             900: '#1E244C',
             950: '#1B2145'
            },
             
                'red': {
             DEFAULT: '#CF2E39',
            50: '#F2C3CC',
            100: '#EEB2BD',
            200: '#E7919E',
            300: '#DF6F7D',
            400: '#D84E5B',
            500:'#CF2E39',
            600: '#BA292F',
            700: '#A52527',
            800: '#902120',
            900: '#7C1F1B',
            950: '#711E19'
            },

              'blue': {
           DEFAULT: '#051956',
          50: '#217FF2',
          100: '#0E6FF0',
          200: '#0C54CA',
          300: '#093DA3',
          400: '#07297D',
          500: '#051956',
          600: '#051556',
          700: '#051256',
          800: '#050E56',
          900: '#050A56',
          950: '#050956'
          },

             'orange': {
         DEFAULT: '#FE8C45',
         50: '#FFF2E5',
         100: '#FFE8D3',
         200: '#FFD4B0',
         300: '#FEBE8C',
         400: '#FEA669',
         500: '#FE8C45',
         600: '#FE772C',
         700: '#FE6112',
         800: '#F54D01',
         900: '#DC3F01',
         950: '#CF3901'
        },
            }
          </script>

       
    </head>
 
    <body id="app" class="bg-white-50 flex flex-col text-orange-900 h-svh">
        <div class="bg-orange-50 p-8">
          <h1 class="text-orange-300 text-4xl">Welcome</h1>
          <button @click="changesMsg">Change me</button>
        </div>
        <div id='container' class='flex'>
            <div class="w-72 box-border p-8 bg-orange-100">
              <h1 class="text-orange-400 text-2xl">Sidebar</h1>
            </div>
            <div id="mainBox" class="flex w-full gap-4">
                <div
                  class="bg-white-500 text-black-500 p-4 rounded-md shadow-2xl slideDown"
                  style="width: 30%"
                >
                  <form
                    id="ecommerceForm"
                    onsubmit="event.preventDefault();"
                    style="display: flex; flex-direction: column; gap: 4px"
                  >
                    <label>Checkout Form ( {{computedTotalCart}} )</label>
                    <input
                      type="text"
                      name="first_name"
                      required
                      v-model="checkoutForm.first_name"
                      id="first_name"
                      placeholder="Enter you first_name"
                    />
                    <span style="color: red" hidden id="taskErrorField-first_name"
                      >This field is required</span
                    >
                    <input
                      type="text"
                      name="last_name"
                      required
                      v-model="checkoutForm.last_name"
                      id="last_name"
                      placeholder="Enter you last_name"
                    />
                    <span style="color: red" hidden id="taskErrorField-last_name"
                      >This field is required</span
                    >
                    <input
                    type="tel"
                    name="number"
                    required
                    id="number"
                    v-model="checkoutForm.phone_number"
                    placeholder="Enter you phone_number"
                  />
                  <span style="color: red" hidden id="taskErrorField-number"
                    >This field is required</span
                  >
                  <textarea
                    id="address"
                    name="address"
                    v-model="checkoutForm.address"
                    placeholder="enter your full address"
                  ></textarea>
                  <span style="color: red" hidden id="taskErrorField-address"
                    >This field is required</span
                  >
                  <input
                    type="email"
                    name="email"
                    required
                    v-model="checkoutForm.email"
                    id="email"
                    placeholder="Enter you email"
                  />
                  <span style="color: red" hidden id="taskErrorField-email"
                    >This field is required</span
                  >
                  <input
                    type="text"
                    name="postal_code"
                    v-model="checkoutForm.postal_code"
                    required
                    id="postal_code"
                    placeholder="Enter you postal_code"
                  />
                  <span style="color: red" hidden id="taskErrorField-postal_code"
                    >This field is required</span
                  >
                  <select id="city" name="city"
                    v-model="checkoutForm.city"
                  >
                    <option selected>Karachi</option>
                    <option>Lahore</option>
                    <option>Islamabed</option>
                    <option>Peshawar</option>
                    <option>Queta</option>
                  </select>
                  <span style="color: red" hidden id="taskErrorField-city"
                    >This field is required</span
                  >
                  <select id="country" name="country"
                  v-model="checkoutForm.country"
                >
                  <option selected>Pakistan</option>
                </select>
                <span style="color: red" hidden id="taskErrorField-country"
                  >This field is required</span
                >
                <div>
                  <label class="flex gap-2 blue-700">
                    <input
                      type="radio"
                      name="task"
                      v-model="checkoutForm.payment_method"
                      required
                      id="payment_method"
                      checked
                      placeholder="Enter you payment_method"
                    />
                    Cash on Delivery
                  </label>
                  <label class="flex gap-2">
                    <input
                      type="radio"
                      v-model="checkoutForm.payment_method"
                      name="task"
                      required
                      id="payment_method"
                      placeholder="Enter you payment_method"
                    />
                    Online Payment
                  </label>
                </div>
                <button
                  type="button"
                  @click="sumbitCheckout()"
                  id="submitBtn"
                  class="bg-blue-600 text-white-200 p-2 border-0 hover:bg-blue-700 active:bg-blue-700 rounded-md"
                >
                  Checkout
                </button>
              </form>
              <div>
                <label>Cart Details</label>
                <div
                  id="boxList"
                  style="
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                  "
                  class="grid-item slideDown"
                >
                <div class="box bg-red-50 font-medium text-blue-900">
                  <div
                    style="
                      padding-left: 10px;
                      border-radius: 50%;
                      padding-right: 10px;
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                    "
                    v-for="(x, index) in checkoutForm.cart_details"
                  >
                  <p>{{ x.name}}</p>
                  <div
                    class="text-seaGreen-500"
                    v-if="x.discounted_price < x.price"
                  >
                    <span class="text-red-600 line-through" :data-id="x.id">
                      {{x.price}}
                    </span>
                    {{x.discounted_price}}
                  </div>
                  <div class="text-seaGreen-500" v-else>{{x.price}}</div>
                  <div>{{'Quantity '+ x.quantity }}</div>
                  <div>
                    <button class="text-red-500" @click="removeItemCart(x.id)">
                      X
                    </button>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
          <div id="main" class="p-4 grid grow border-box grid-cols-2 gap-4">
            <div
              class="bg-white-500 text-black-500 p-4 rounded-md shadow-2xl slideDown"
              v-for="(x, index) in products"
            >
              <h1 class="font-bold">{{ x.name }}</h1>
              <p class="font-medium">{{ x.description }}</p>
  
              <div class="text-seaGreen-500" v-if="x.discounted_price < x.price">
                <span class="text-red-600 line-through">{{ x.price }}</span>
                {{ x.discounted_price }}
              </div>
              <div class="text-seaGreen-500" v-else>{{ x.price }}</div>
              <div class="">
                <input type="number" :id='"qty"+ x.id' />
                <button
                  class="bg-blue-400 text-white-200 font-medium rounded-lg w-32 py-1"
                  @click="addToCart(x.id)"
                >
                  Add to Cart
                </button>
              </div>
                  </div>
                </div>
            </div>
        </div>
            </div>
        </div>
      </body>
    <script>
        const {crateApp, ref, onMounted, dateFormat, computed }=vue;
         createApp({
            setup() {
                const message = ref('Hello vue!');
                const initialCheckoutForm = {
                    first_name: '',
                    last_name: '',
                    phone_number: 0,
                    address: '',
                    email: '',
                    postal_code: '',
                    city: '',
                    country: '',
                   payment_method: '',
                   shipping_details: {
                     address:'',
                    city: '',
                   postal_code: '',
                   country: '',
                  phone_number: '',
                  reciever_name: ''
                  },
                   total_amount: '',
                  cart_details: [],
        };
        const checkoutForm =ref({
            first_name: '',
            last_name: '',
            phone_number: 0,
            address: '',
            email: '',
            postal_code: '',
            city: '',
            country: '',
            payment_method: '',
            shipping_details: {
                address:'',
                city: '',
                postal_code: '',
                country: '',
                phone_number: '',
                reciever_name: ''
            },
            total_amount: '',
            cart_details: [],
        });
        const product =[
        {
                id: 1,
                name: 'water bottle',
                description: 'color: blue size: large',
                price: 350,
                discounted_price: 299,
            },
            {
                id: 2,
                name: 'mouse',
                description: 'wired usb port',
                price: 250,
                discounted_price: 199,
            },
            {
                id: 3,
                name: 'watch',
                description: 'color: black, watch type: smart, brand: apple',
                price: 9000,
                discounted_price: 7999,
            },
            {
                id: 4,
                name: 'infinix s23',
                description: 'color blue, storage: 120gb ram: 2gb display: 6x4',
                price: 25000,
                discounted_price: 24999,
            },
            {
                id: 5,
                name: 'shoes',
                description: 'size: 8, color blue, type: sports wear',
                price: 5000,
                discounted_price: 4700,
            },
        ];
        onMounted(()=>{
            alert('welcome');
        });
         const computedTotalCart =computed(() => {
            var total =checkoutForm.value.cart_details.reduce((accumulator, currentValue) => {
            var currentPrice = currentValue.discounted_price < currentValue.price ? currentValue.discounted_price : currentValue.price
            return accumulator + currentPrice * currentValue.quantity
          }, 0);
          return total;
         });
         const validateFields =() => {
            var basicFields = [
            "first_name",
            "last_name",
            "address",
            "postal_code",
          ];
          const basicValidation = () => {
            var checkValidation = true;
            basicFields.forEach((x) => {
                if (
                checkoutForm.value[x] == "" ||
                checkoutForm.value[x] == null
              ) {
                checkValidation = false;
                document.getElementById("taskErrorField-" + x).hidden = false;
              } else {
                document.getElementById("taskErrorField-" + x).hidden = true;
              }
            });
            
          }
         }
                }
            }
         )
       
 
        renderProducts();
 
        function validateFields() {
            var basicFields = [
                'first_name',
                'last_name',
                'address',
                'postal_code'
            ]

            const basicValidation = () => {
                var checkValidation = true;
                basicFields.forEach((x)=> {
                    if(document.getElementById(x).value == '' || document.getElementById(x).value == null) {
                        checkValidation = false;
                        document.getElementById('taskErrorField-'+x).hidden = false
                    } else {
                        document.getElementById('taskErrorField-'+x).hidden = true
                    }
                })
                return checkValidation
            }
            

            var testBasicValidation = basicValidation();
            if(!testBasicValidation) {
                return false
            }

            const validatePhoneNumber = (phoneNumber) => {
                const regex = /^(\+92|92|0)[ -]*\d{2,4}[ -]*\d{7,10}$/
                return regex.test(phoneNumber);
            }

            if (!validatePhoneNumber(document.getElementById('number').value)) {
                document.getElementById('taskErrorField-number').hidden = false
                return false
            } else {
                document.getElementById('taskErrorField-number').hidden = true
            }

            const validateEmail = (email) => {
                const regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
                return regex.test(email);
            }

            if(!validateEmail(document.getElementById('email').value)) {
                document.getElementById('taskErrorField-email').hidden = false;
                return false;
            } else {
                document.getElementById('taskErrorField-email').hidden = true;
            }

          
            if(checkoutForm.cart_details.length == 0) {
                alert("Please add items in your cart first");
            
                return false
            }

            return true
        

            if(email) {
 
            }
            if(country) {
 
            }
            if(city) {
 
            }
            if(cartItems) {
 
            }
 
        //  // Validation function GPT VAlidation
        //  let isValid = true;
 
        // // Reset error messages
        // const errorFields = document.querySelectorAll('[id^="taskErrorField-"]');
        // errorFields.forEach(field => {
        //   field.hidden = true;
        // });
 
        // // First Name validation
        // const firstName = document.getElementById('first_name').value.trim();
        // if (firstName === '') {
        //   document.getElementById('taskErrorField-first_name').hidden = false;
        //   isValid = false;
        // }
 
        // // Last Name validation
        // const lastName = document.getElementById('last_name').value.trim();
        // if (lastName === '') {
        //   document.getElementById('taskErrorField-last_name').hidden = false;
        //   isValid = false;
        // }
 
        // // Phone Number validation
        // const phoneNumber = document.getElementById('number').value.trim();
        // // Regular expression for Pakistani phone number patterns
        // const phoneRegex = /^(\+92|92|033|03)[ -]*\d{3}[ -]*\d{7}$/;
        // if (phoneNumber === '' || !phoneRegex.test(phoneNumber)) {
        //   document.getElementById('taskErrorField-number').hidden = false;
        //   isValid = false;
        // }
 
        // // Address validation
        // const address = document.getElementById('address').value.trim();
        // if (address === '') {
        //   document.getElementById('taskErrorField-address').hidden = false;
        //   isValid = false;
        // }
 
        // // Email validation
        // const email = document.getElementById('email').value.trim();
        // // Basic email format validation
        // const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        // if (email === '' || !emailRegex.test(email)) {
        //   document.getElementById('taskErrorField-email').hidden = false;
        //   isValid = false;
        // }
 
        // // Postal Code validation
        // const postalCode = document.getElementById('postal_code').value.trim();
        // if (postalCode === '') {
        //   document.getElementById('taskErrorField-postal_code').hidden = false;
        //   isValid = false;
        // }
 
        // // City validation (assuming it's a select box)
        // const city = document.getElementById('city').value;
        // if (city === '') {
        //   document.getElementById('taskErrorField-city').hidden = false;
        //   isValid = false;
        // }
 
        // // Country validation (assuming it's a select box)
        // const country = document.getElementById('country').value;
        // if (country === '') {
        //   document.getElementById('taskErrorField-country').hidden = false;
        //   isValid = false;
        // }
 
        // // Payment Method validation (assuming it's a radio input)
        // const paymentMethod = document.querySelector('input[name="task"]:checked');
        // if (!paymentMethod) {
        //   // No payment method selected
        //   alert('Please select a payment method.');
        //   isValid = false;
        // }
 
        // // If all validations pass, submit the form or perform further actions
        // if (isValid) {
        //   alert('Form submitted successfully!');
        //   // Uncomment the line below to actually submit the form
        //   // document.getElementById('checkoutForm').submit();
        // }
 

        }   
        


        function sumbitCheckout() {
            debugger;
            const checkForm = validateFields();
            if(checkForm) {
                alert("Thank you for shopping with us");
                checkoutForm = initialCheckoutForm;
                document.getElementById('ecommerceForm').reset();
                renderCarts();
            }
        }


      

        function addToCart(product) {
            debugger;
            var currentProduct = products.find((x) => { return x.id == product });
            var currentQty = document.getElementById('qty'+product).value == '' || document.getElementById('qty'+product).value == null ? 1: document.getElementById('qty'+product).value;
            cartExistIndex = checkoutForm.cart_details.findIndex((x)=> { return x.id == product} );
            if(cartExistIndex != -1) {
                checkoutForm.cart_details[cartExistIndex].quantity += parseInt(currentQty);
            } else {                
                var cartItem = {
                    ...currentProduct,
                    quantity: currentQty,
                }
 
                checkoutForm.cart_details.push(cartItem);
            }
            document.getElementById('qty'+product).value = '';
            renderCarts();
        }
 
        /**
         * This function is used to remove items from cart
         * @params number id
         * return void | null
         */
         function removeItemCart(id) {
            debugger;
            var proIndex = checkoutForm.cart_details.findIndex((x) => {return x.id == id});
            checkoutForm.cart_details.splice(proIndex,1);
 
            renderCarts();
        }
        function showTotalAmount(price, quantity) {
  return price * quantity;
}

// Example Usage
let price = 5;
let quantity = 2;
let result = showTotalAmount(price, quantity);
console.log(result); // 10      
 
 
        function renderCarts() {
            let cartHtml = '';
            var cartDiv = document.getElementById('boxList');
 
 
            checkoutForm.cart_details.forEach((x) => {
                var priceBox = x.discounted_price < x.price ? `<div class='actual-price'>
                        <span class='discount-price'> `+x.price+`</span>
                        `+x.discounted_price+`
                    </div>` : `<div class='actual-price'>
                        `+x.price+`
                    </div>` ;
 
 
                cartHtml += `<div class="box" style="background-color: aqua;">
                    <div style="padding-left:10px; border-radius: 50%; padding-right: 10px; display:flex; justify-content: space-between; align-items: center;">
                        <p>`+ x.name +`</p>
                        `+ priceBox +`
                        <div>
                            Quantity `+ x.quantity +`
                        </div>
                        <div>
                            <button onclick="removeItemCart(`+ x.id +`)">
                                X
                            </button>
                        </div>
                    </div>
                </div>`;
            });
            cartDiv.innerHTML = cartHtml;
        }

        function renderCarts() {
    let cartHtml = '';
    let totalAmount = 0;
    var cartDiv = document.getElementById('boxList');


    checkoutForm.cart_details.forEach((x) => {
        var priceBox = x.discounted_price < x.price ? `<div class='actual-price'>
                <span class='discount-price'> `+x.price+`</span>
                `+x.discounted_price+`
            </div>` : `<div class='actual-price'>
                `+x.price+`
            </div>` ;

        // Calculate the total amount for each item
        const itemTotal = showTotalAmount(x.discounted_price < x.price ? x.discounted_price : x.price, x.quantity);
        totalAmount += itemTotal;

        cartHtml += `<div class="box" style="background-color:;">
            <div style="padding-left:10px; border-radius: 50%; display:flex; justify-content: space-between; align-items: center;"  class='p-4 bg-orange-200'>
                <p>`+ x.name +`</p>
                `+ priceBox +`
                <div>
                    Quantity `+ x.quantity +`
                </div>
                <div>
                    <button onclick="removeItemCart(`+ x.id +`)">
                        X
                    </button>
                </div>
            </div>
        </div>`;
    });

    // Add total amount to the HTML
    cartHtml += `<div class="total-amount" style="padding: 10px; font-size: 18px; font-weight: bold; background-color: #f0f0f0;">
        Total Amount: ` + totalAmount + `
    </div>`;

    cartDiv.innerHTML = cartHtml;

}
 

        function renderProducts() {
            let productHtml = '';
            var productDiv = document.getElementById('main');
 
            products.forEach((x) => {
                var priceBox = x.discounted_price < x.price ? `<div class='actual-price'>
                        <span class='discount-price'> `+x.price+`</span>
                        `+x.discounted_price+`
                    </div>` : `<div class='actual-price'>
                        `+x.price+`
                    </div>` ;
 
 
                productHtml += `<div class='grid-item slideDown bg-orange-200'>
                    <h1>`+ x.name +`</h1>
                    <p>`+ x.description +`</p>
                    `+ priceBox +`
                    <div class='addToCartBox p-4 bg-orange-100'>
                        <input type='number' id='qty`+ x.id +`'/>
                        <button onclick='addToCart(`+x.id+`)'>Add to Cart</button>
 
                    </div>
                </div>`; 
            });
            productDiv.innerHTML = productHtml;
        }

    function addToCart(product) {
        var currentProduct = products.find((x) => x.id === product);
        var currentQty = document.getElementById('qty'+product).value || 1;
        var cartExistIndex = checkoutForm.cart_details.findIndex((x)=> x.id === product);
        if(cartExistIndex !== -1) {
            checkoutForm.cart_details[cartExistIndex].quantity += parseInt(currentQty);
        } else {                
            var cartItem = { ...currentProduct, quantity: currentQty };
            checkoutForm.cart_details.push(cartItem);
        }
        document.getElementById('qty'+product).value = '';
        renderCarts();
    }

    function removeItemCart(id) {
        var proIndex = checkoutForm.cart_details.findIndex((x) => x.id === id);
        checkoutForm.cart_details.splice(proIndex, 1);
        renderCarts();
    }
    
    </script>
</html>